{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center h-100">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('answer_index') }}">
                    Retour aux réponses
                </a>
                <h1>Ajoutez des réponses</h1>
                <p>Surprenez la communauté avec votre originalité.</p>
                {{ include('answer/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
