{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<h1>tu souhaite t'enregistrer mon garcon</h1>
<a href="/register">clique ici</a>
<h1>tu possède un compte bogoss</h1>
<a href="/login">clique ici</a>
{% endblock %}
