{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container d-flex align-items-center h-100">
        <div class="row">
            <div class="col-md-12">
                <h1>Symfony Poll</h1>
                <p>Symfony Poll est une application web de sondages.
                    <br>
                    Publiez vos premières questions ou répondez au sondages existants.
                </p>
                <a href="{{ path('app_register') }}">
                    <button type="button" class="btn btn-primary">Je m'enregistre</button>
                </a>
                <a href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-secondary">Je me connecte</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
