{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center h-100">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('app_login') }}">Retour à la connexion</a>
                <h1>Réinitialisation de votre mot de passe en cours.</h1>
                <p>
                    Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe.
                    <br />
                    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p  class="m-0">
                    Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
